table,td,tr,th{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

td.bold{
    font-weight: bold;
    text-align: center;
}

td.result{
    width: 400px;
    text-align: right;
    padding-right: 5px;
}

table{
    padding-left: 1px;  /* med 5px blir det inte som på bilden i uppgiften! */
}